 header {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: goldenrod;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: goldenrod;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: goldenrod;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: goldenrod;
}

header li {
    display: inline-block;
    padding-right: 50px;
}

span.active {
    color: yellow;
}

.disabled {
    color: grey;
}
span.disabled {
    color: purple;
}

.parent  >div >div:first-child {
    color: red;
}
.parent > div >div:last-of-type {
    color:blue; 
}
.parent >div >div:first-child + h4 {
    background-color: red;

}
.parent > div >div:last-of-type + h4 {
    background-color:blue; 
}

span input  {
    height: 25px;
}

.grandparent > h4{
    border-radius: 25px;
    border: 1px solid red;
}
.promo {
    font-weight: bold;
    color: gold;
}